<a href="https://colab.research.google.com/github/pemanentomat/PembelajaranMesin_WEEK-1/blob/main/exercise_explore_your_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**[Machine Learning Course Home Page](https://www.kaggle.com/learn/machine-learning)**

---

This exercise will test your ability to read a data file and understand statistics about the data.

In later exercises, you will apply techniques to filter the data, build a machine learning model, and iteratively improve your model.

The course examples use data from Melbourne. To ensure you can apply these techniques on your own, you will have to apply them to a new dataset (with house prices from Iowa).

The exercises use a "notebook" coding environment.  In case you are unfamiliar with notebooks, we have a [90-second intro video](https://www.youtube.com/watch?v=4C2qMnaIKL4).

# Exercises

Run the following cell to set up code-checking, which will verify your work as you go.

In [4]:
# Set up code checking
from learntools.core import binder
binder.bind(globals())
from learntools.machine_learning.ex2 import *
print("Setup Complete")

Setup Complete

In [3]:
# if you're using Google Colab run this cell to install extra libraries
!pip install git+https://github.com/ML-Challenge/learntools.git

Collecting git+https://github.com/ML-Challenge/learntools.git
  Cloning https://github.com/ML-Challenge/learntools.git to /tmp/pip-req-build-y4fftrwc
  Running command git clone -q https://github.com/ML-Challenge/learntools.git /tmp/pip-req-build-y4fftrwc
Building wheels for collected packages: learntools
  Building wheel for learntools (setup.py) ... done
  Created wheel for learntools: filename=learntools-0.3.4-py3-none-any.whl size=207310 sha256=40d58cbea8656302422591d104b8484b541403571556e9c3ed9c97ac29072b34
  Stored in directory: /tmp/pip-ephem-wheel-cache-bsqfoo7v/wheels/5e/42/53/aa3198486cfc460e19152f9f799b8d0f549cb88f492acb6033
Successfully built learntools
Installing collected packages: learntools
Successfully installed learntools-0.3.4

## Step 1: Loading Data
Read the Iowa data file into a Pandas DataFrame called `home_data`.

In [6]:
import pandas as pd

# Path of the file to read
iowa_file_path = '/content/train.csv'

# Fill in the line below to read the file into a variable home_data
home_data = pd.read_csv(iowa_file_path) 

# Call line below with no argument to check that you've loaded the data correctly
step_1.check()

Correct

In [ ]:
# Lines below will give you a hint or solution code
#step_1.hint()
#step_1.solution()

## Step 2: Review The Data
Use the command you learned to view summary statistics of the data. Then fill in variables to answer the following questions

In [7]:
# Print summary statistics in next line
home_data.describe()

                Id   MSSubClass  ...       YrSold      SalePrice
count  1460.000000  1460.000000  ...  1460.000000    1460.000000
mean    730.500000    56.897260  ...  2007.815753  180921.195890
std     421.610009    42.300571  ...     1.328095   79442.502883
min       1.000000    20.000000  ...  2006.000000   34900.000000
25%     365.750000    20.000000  ...  2007.000000  129975.000000
50%     730.500000    50.000000  ...  2008.000000  163000.000000
75%    1095.250000    70.000000  ...  2009.000000  214000.000000
max    1460.000000   190.000000  ...  2010.000000  755000.000000

[8 rows x 38 columns]

In [8]:
# What is the average lot size (rounded to nearest integer)?
avg_lot_size = 10517

# As of today, how old is the newest home (current year - the date in which it was built)
newest_home_age = 11

# Checks your answers
step_2.check()

Correct

In [ ]:
step_2.hint()
step_2.solution()

## Think About Your Data

The newest house in your data isn't that new.  A few potential explanations for this:
1. They haven't built new houses where this data was collected.
1. The data was collected a long time ago. Houses built after the data publication wouldn't show up.

If the reason is explanation #1 above, does that affect your trust in the model you build with this data? What about if it is reason #2?

How could you dig into the data to see which explanation is more plausible?

Check out this **[discussion thread](https://www.kaggle.com/learn-forum/60581)** to see what others think or to add your ideas.

# Keep Going

You are ready for **[Your First Machine Learning Model](https://www.kaggle.com/dansbecker/your-first-machine-learning-model).**

---
**[Machine Learning Course Home Page](https://www.kaggle.com/learn/machine-learning)**